In [1]:
import tiledb
import pandas as pd
import numpy as np

Download data (650MB) https://drive.google.com/file/d/1_wAOUt7qfeXruXzA4jl2axrcc_B1HzQR/view?usp=sharing

In [ ]:
tiledb.from_csv("taxi_jan20_dense_array", "taxi-rides-jan2020.csv", 
                parse_dates=['tpep_dropoff_datetime', 'tpep_pickup_datetime'])

In [ ]:
A = tiledb.open("taxi_jan20_dense_array")
print(A.schema)

In [ ]:
print(A.nonempty_domain())

In [ ]:
df = A.df[0:9]
df

In [ ]:
df = A.query(attrs=['tpep_dropoff_datetime', 'fare_amount']).df[0:4]
df

In [ ]:
A.close()

In [ ]:
tiledb.from_csv("taxi_jan20_sparse_array", "taxi-rides-jan2020.csv", 
                sparse=True, 
                index_col=['tpep_dropoff_datetime', 'fare_amount'], 
                parse_dates=['tpep_dropoff_datetime', 'tpep_pickup_datetime'])

In [ ]:
A = tiledb.open("taxi_jan20_sparse_array")
print(A.schema)

In [ ]:
A.nonempty_domain()

In [ ]:
df = A.query().df[:]
df

In [ ]:
#df = pd.DataFrame(A[np.datetime64('2020-01-01T00:00:00'):np.datetime64('2020-01-01T00:30:00')])
df = A.df[np.datetime64('2020-01-01T00:00:00'):np.datetime64('2020-01-01T00:30:00')]
df

In [ ]:
df = A.df[:, 5.0:7.0]
df

In [ ]:
df = A.df[np.datetime64('2020-01-01T00:00:00'):np.datetime64('2020-01-01T02:00:00'), 2.00:6.50]
df

In [ ]:
A.close()

TODO: GIF of uploading array folder to S3 and then registering in TileDB Cloud?

In [7]:
# Set your username and password; not needed if running notebook on TileDB Cloud
#config = tiledb.Config()
#config["rest.username"] = "yourUserName"
#config["rest.token"] = "zzz"
#config["rest.password"] = "yyy"

In [8]:
tiledb_uri = 'tiledb://Broberg/taxi-data-dense-for-csv-tute'
with tiledb.open(tiledb_uri, ctx=tiledb.Ctx(config)) as arr :
    df = arr.df[0:9]
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,239,238,1.0,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,238,238,1.0,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,193,193,2.0,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0
5,2.0,2020-01-01 00:09:44,2020-01-01 00:10:37,1.0,0.03,1.0,7,193,2.0,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0
6,2.0,2020-01-01 00:39:25,2020-01-01 00:39:29,1.0,0.00,1.0,193,193,1.0,2.5,0.5,0.5,0.01,0.0,0.3,3.81,0.0
7,1.0,2020-01-01 00:29:01,2020-01-01 00:40:28,2.0,0.70,1.0,246,48,1.0,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
8,1.0,2020-01-01 00:55:11,2020-01-01 01:12:03,2.0,2.40,1.0,246,79,1.0,12.0,3.0,0.5,1.75,0.0,0.3,17.55,2.5
9,1.0,2020-01-01 00:37:15,2020-01-01 00:51:41,1.0,0.80,1.0,163,161,2.0,9.5,3.0,0.5,0.00,0.0,0.3,13.30,2.5

In [9]:
tiledb_uri = 'tiledb://Broberg/taxi-data-sparse-for-csv-tute'
with tiledb.open(tiledb_uri, ctx=tiledb.Ctx(config)) as arr :
    df = arr.df[np.datetime64('2020-01-01T00:00:00'):np.datetime64('2020-01-01T02:00:00'), 2.00:6.50]
df

                                   VendorID tpep_pickup_datetime  \
tpep_dropoff_datetime fare_amount
2020-01-01 00:00:47   3.0               2.0  2019-12-31 23:59:24
2020-01-01 00:01:07   5.5               2.0  2019-12-31 23:56:09
2020-01-01 00:01:57   3.0               2.0  2020-01-01 00:00:14
2020-01-01 00:02:00   3.5               2.0  2019-12-31 23:59:44
2020-01-01 00:02:10   3.5               2.0  2020-01-01 00:00:17
...                                     ...                  ...
2020-01-01 01:59:56   4.5               2.0  2020-01-01 01:57:00
                      5.0               2.0  2020-01-01 01:54:46
2020-01-01 01:59:57   4.5               2.0  2020-01-01 01:55:54
2020-01-01 02:00:00   5.5               2.0  2020-01-01 01:54:39
                      6.0               2.0  2020-01-01 01:54:40

                                   passenger_count  trip_distance  RatecodeID  \
tpep_dropoff_datetime fare_amount
2020-01-01 00:00:47   3.0                      6.0           0.07         1.0
2020-01-01 00:01:07   5.5                      1.0           1.00         1.0
2020-01-01 00:01:57   3.0                      1.0           0.02         1.0
2020-01-01 00:02:00   3.5                      5.0           0.33         1.0
2020-01-01 00:02:10   3.5                      1.0           0.32         1.0
...                                            ...            ...         ...
2020-01-01 01:59:56   4.5                      4.0           0.86         1.0
                      5.0                      1.0           0.80         1.0
2020-01-01 01:59:57   4.5                      1.0           0.59         1.0
2020-01-01 02:00:00   5.5                      2.0           0.69         1.0
                      6.0                      1.0           1.21         1.0

                                   PULocationID  DOLocationID  payment_type  \
tpep_dropoff_datetime fare_amount
2020-01-01 00:00:47   3.0                   263           263           2.0
2020-01-01 00:01:07   5.5                   141           237           2.0
2020-01-01 00:01:57   3.0                   132           132           2.0
2020-01-01 00:02:00   3.5                   158           158           2.0
2020-01-01 00:02:10   3.5                   158           158           1.0
...                                         ...           ...           ...
2020-01-01 01:59:56   4.5                    79           137           1.0
                      5.0                   162           164           2.0
2020-01-01 01:59:57   4.5                    48           163           2.0
2020-01-01 02:00:00   5.5                   249           234           1.0
                      6.0                   142           239           1.0

                                   extra  mta_tax  tip_amount  tolls_amount  \
tpep_dropoff_datetime fare_amount
2020-01-01 00:00:47   3.0            0.5      0.5        0.00           0.0
2020-01-01 00:01:07   5.5            0.5      0.5        0.00           0.0
2020-01-01 00:01:57   3.0            0.5      0.5        0.00           0.0
2020-01-01 00:02:00   3.5            0.5      0.5        0.00           0.0
2020-01-01 00:02:10   3.5            0.5      0.5        1.46           0.0
...                                  ...      ...         ...           ...
2020-01-01 01:59:56   4.5            0.5      0.5        1.66           0.0
                      5.0            0.5      0.5        0.00           0.0
2020-01-01 01:59:57   4.5            0.5      0.5        0.00           0.0
2020-01-01 02:00:00   5.5            0.5      0.5        1.86           0.0
                      6.0            0.5      0.5        2.45           0.0

                                   improvement_surcharge  total_amount  \
tpep_dropoff_datetime fare_amount
2020-01-01 00:00:47   3.0                            0.3          6.80
2020-01-01 00:01:07   5.5                            0.3          9.30
2020-01-01 00:01:57   3.0                            0.3          4.30
2020-01-01 00:02:00   3.5                            0.3          7.30
2020-01-01 00:02:10   3.5                            0.3          8.76
...                                                  ...           ...
2020-01-01 01:59:56   4.5                            0.3          9.96
                      5.0                            0.3          8.80
2020-01-01 01:59:57   4.5                            0.3          8.30
2020-01-01 02:00:00   5.5                            0.3         11.16
                      6.0                            0.3         12.25

                                   congestion_surcharge
tpep_dropoff_datetime fare_amount
2020-01-01 00:00:47   3.0                           2.5
2020-01-01 00:01:07   5.5                           2.5
2020-01-01 00:01:57   3.0                           0.0
2020-01-01 00:02:00   3.5                           2.5
2020-01-01 00:02:10   3.5                           2.5
...                                                 ...
2020-01-01 01:59:56   4.5                           2.5
                      5.0                           2.5
2020-01-01 01:59:57   4.5                           2.5
2020-01-01 02:00:00   5.5                           2.5
                      6.0                           2.5

[6410 rows x 15 columns]